@{
    ViewData["Title"] = "Home Page";
}
@model List<Revenue_System.Models.CustomerModel>

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/main.css">
    <title>Trang Web của Tôi</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        main {
            padding: 20px;
        }
    </style>
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="#">ASoft</a></li>
                <li><a href="#">Home</a></li>
                <li><a asp-controller="Invoice" asp-action="Index">Invoices</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Dropdown <i class="fa-solid fa-caret-down"></i></a></li>
            </ul>
            <div class="search-bar">
                <input type="text" placeholder="Looking for...">
                <i class="fa fa-search"></i>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <div>
                <table>
                    <tr>
                        <th class="attribute-table">Customer ID</th>
                        <th class="attribute-table">Customer Name</th>
                        <th class="attribute-table">Number Phone</th>
                        <th class="attribute-table">Active</th>
                    </tr>
                    @foreach (var customer in Model)
                    {
                        <tr>
                            <td class="attribute-table">@customer.CustomerID</td>
                            <td class="attribute-table">@customer.CustomerName</td>
                            <td class="attribute-table">@customer.Phone</td>
                            <td class="attribute-table">
                                <button onclick="showUpdateCustomerForm(@customer.CustomerID, '@customer.CustomerName', '@customer.Phone')">Edit</button>
                                <form asp-action="Delete" method="post" onsubmit="() => {confirm('Bạn có chắc chắn muốn xóa khách hàng này không?');}">
                                    <input type="hidden" name="id" value="@customer.CustomerID" />
                                    <button id="btnDelete" type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </table>
            </div>

            <div class="nav">
                <ul>
                    <li><button onclick="showProductForm()">New Product</button></li>
                    <li><button onclick="showCustomerForm()">New Customer</button></li>
                    <li><button onclick="showinvoiceForm()">New Invoice</button></li>
                </ul>
            </div>

            <div class="overlay" id="overlay"></div>

            <!-- Form Đăng Nhập thêm khách hàng-->
            <div class="customer-form" id="customerForm">
                <h2>Thêm Khách Hàng Mới</h2>
                <form asp-action="Create" method="post">
                    <div class="form-group">
                        <label for="customerID">Customer ID:</label>
                        <input type="text" id="customerID" name="CustomerID" required>
                    </div>
                    <div class="form-group">
                        <label for="customerName">Customer Name:</label>
                        <input type="text" id="customerName" name="CustomerName" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number:</label>
                        <input type="text" id="phone" name="Phone" required>
                    </div>
                    <button type="submit">Thêm Khách Hàng</button>
                    <button type="button" onclick="hideCustomerForm()">Hủy</button>
                </form>
            </div>

            <!-- Form Đăng Nhập thêm đơn hàng-->
            <div class="customer-form" id="invoiceForm">
                <h2>Thêm đơn hàng mới</h2>
                <div class="form-group">
                    <label for="invoiceID">Invoice ID:</label>
                    <input type="text" id="invoiceID" required>
                </div>
                <div class="form-group">
                    <label for="invoiceName">invoice Name:</label>
                    <input type="text" id="invoiceName" required>
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number:</label>
                    <input type="text" id="phone" required>
                </div>
                <button type="button" onclick="submitInvoice()">Thêm Đơn Hàng</button>
                <button type="button" onclick="hideinvoiceForm()">Hủy</button>
            </div>

            <!-- Form Đăng Nhập thêm đơn hàng-->
            <div class="customer-form" id="productForm">
                <h2>Thêm sản phẩm mới</h2>
                <div class="form-group">
                    <label for="productID">Product ID:</label>
                    <input type="text" id="productID" required>
                </div>
                <div class="form-group">
                    <label for="productName">Product Name:</label>
                    <input type="text" id="productName" required>
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number:</label>
                    <input type="text" id="phone" required>
                </div>
                <button type="button" onclick="submitProduct()">Thêm Sản Phẩm</button>
                <button type="button" onclick="hideProductForm()">Hủy</button>
            </div>

            <!-- Form Cập Nhật Khách Hàng -->
            <div class="customer-form" id="updateCustomerForm" style="display:none;">
                <h2>Cập Nhật Khách Hàng</h2>
                <form asp-action="Update" method="post">
                    <div class="form-group">
                        <label>Customer ID:</label>
                        <span id="displayCustomerID"></span>
                        <input type="hidden" id="updateCustomerID" name="CustomerID" required placeholder="Mã khách hàng">
                    </div>
                    <div class="form-group">
                        <label for="updateCustomerName">Customer Name:</label>
                        <input type="text" id="updateCustomerName" name="CustomerName" required placeholder="Tên khách hàng">
                    </div>
                    <div class="form-group">
                        <label for="updatePhone">Phone Number:</label>
                        <input type="text" id="updatePhone" name="Phone" required placeholder="Số điện thoại khách hàng">
                    </div>
                    <button type="submit">Cập Nhật Khách Hàng</button>
                    <button type="button" onclick="hideUpdateCustomerForm()">Hủy</button>
                </form>
            </div>

        </div>
    </main>

    <script src="~/js/main.js"></script>
</body>
</html>
